$main-beige: #f1d3a2;
$sub-beige: #f4f1de;
$main-text: #3d405b;
$sub-text: #5b5f7d;
$button: #30654b;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $main-beige;
	padding: 1rem 14.5vw;
	font-family: 'Nova Slim', cursive;

	@media (max-height: 980px) {
		padding: 1rem 20.31rem;
	}
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__new-book-btn {
		cursor: pointer;
		width: 11.88rem;
		height: 3.13rem;
		border-radius: 7px;
		border: none;
		background-color: $button;
		color: $sub-beige;
		font-family: 'Amatic SC', cursive;
		font-size: 1.9em;
	}

	&__search-bar {
		width: 25.31rem;
		height: 2.50rem;
		border-radius: 7px;
		font-family: 'Nova Slim', cursive;
		font-size: 1.13em;
		color: $sub-text;
		border: none;
		background-color: $sub-beige;
		padding: 0 1.25rem;
	}

	&__side {
		position: fixed;
		padding-top: 1.3rem;
		width: 14.5vw;
		top: 0;
		right: 0;
		display: flex;
		justify-content: center;
		border: 1px solid black;

		&__bookshelf-btn {
			cursor: pointer;
			border: none;
			background-color: transparent;
			color: $sub-text;
			font-family: 'Cinzel Decorative', cursive;
			font-size: 2.19em;
		}
	}
}
